/* Reset de baza */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* HEADER */
header{
    background-color: #4b2e2b;
    color: white;
    padding: 30px;
    text-align: center; 
}

header h1 {
    margin: 0;
}
header h2 {
    margin: 10px;
    font-weight: normal;
}

/* CONTINUT */
main {
    max-width: 800px;
    margin: 30px auto;
    background-color: rgb(253, 253, 255);
    padding: 30px;
    border-radius: 8px;
}
main h3 {
    color: #4b2e2b;
}

main p {
    color: #333
}

/* LISTE */
ul, ol {
    margin-left: 20px;
}

/* LINK */
a{
    color: #4b2e2b;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}

/*IMAGINE */
img {
    max-width: 100%;
    margin-top: 20px;
    border-radius: 8px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    color: #777;
}

/* FLEXBOX */
.content {
    display: flex;
    gap: 30px;
    align-items: center;;
}

.text {
    flex: 1;
}

.imagine {
    flex: 1;
}

@media (max-windth: 768px) {
    .content {
        flex-direction: column;
    }
}

.imagine img{
    width: 100%;
    max-width: 400px;
    height: auto
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6f4e37;
    padding: 15px 30px;
    color: white;
}

.top-bar nav a {
    margin: 0 10px;
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

.top-bar button {
    background-color: #d2b48c;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
}

ul, ol {
    list-style: none;
    padding-left: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #f5f1ed;
    color: 333;
}

main {
    padding: 40px;
}

h1, h2, h3 {
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
}

ul li {
    font-size: 18px;
}

.content {
    background-color: white;
    padding: 30px;
    margin-top: 40px;
    border-radius: 8px;
    max-width: 500px;
}

.content input,
.content textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

.content button {
    background-color: #6f4e37;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.top-bar button:hover {
    background-color: #c19a6b;
    transform: scale(1.05);
}

.top-bar button {
    transition: all 0.3s ease;
}

ul li:hover {
    color: #6f4e37;
    cursor: pointer;
}